.logout-bar {
    background-color: #212b35;
    padding-top: 0.9375em;
    padding-bottom: 0.9375em
}

.featured-testimonial {
    position: relative;
    padding-top: 300px;
    display: flex
}

@media screen and (min-width: 46.875em) {
    .featured-testimonial {
        padding-left: 50%;
        padding-top: 0
    }
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
    .featured-testimonial--breakpoint-tablet {
        padding-left: 0;
        padding-top: 700px
    }
}

.featured-testimonial__image-wrapper {
    height: 300px;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    background-color: #f9fafb
}

@media screen and (min-width: 46.875em) {
    .featured-testimonial--breakpoint-mobile .featured-testimonial__image-wrapper {
        width: 50%;
        height: 100%
    }
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
    .featured-testimonial--breakpoint-tablet .featured-testimonial__image-wrapper {
        width: 100%;
        height: 700px
    }
}

@media screen and (min-width: 67.5em) {
    .featured-testimonial--breakpoint-tablet .featured-testimonial__image-wrapper {
        width: 50%;
        height: 100%
    }
}

.featured-testimonial__image {
    width: 100%;
    height: 100%
}

.featured-testimonial__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0
}

.featured-testimonial__content {
    background-color: #000639;
    color: #ffffff;
    padding: 40px 30px
}

@media screen and (max-width: 46.8125em) {
    .featured-testimonial__content {
        width: 100%
    }
}

@media screen and (min-width: 46.875em) {
    .featured-testimonial__content {
        padding: 60px 30px
    }
}

@media screen and (min-width: 67.5em) {
    .featured-testimonial__content {
        margin-top: 0;
        min-height: 35.9375em;
        display: flex;
        justify-content: center;
        flex-direction: column
    }
}

.featured-testimonial__quote-wrapper {
    margin: 0 auto
}

@media screen and (min-width: 67.5em) {
    .featured-testimonial__quote-wrapper {
        width: 75%;
        display: flex;
        flex-direction: column;
        flex-grow: 1
    }
}

@media screen and (max-width: 46.8125em) {
    .featured-testimonial--breakpoint-mobile .featured-testimonial__quote-wrapper {
        max-width: 25em
    }
}

@media screen and (max-width: 67.4375em) {
    .featured-testimonial--breakpoint-tablet .featured-testimonial__quote-wrapper {
        max-width: 25em
    }
}

.featured-testimonial__quote {
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 35px;
    width: 100%
}

@media screen and (min-width: 46.875em) {
    .featured-testimonial__quote {
        margin-bottom: 60px
    }
}

@media screen and (min-width: 67.5em) {
    .featured-testimonial__quote {
        flex-grow: 1;
        font-size: 1.875em;
        align-items: center;
        display: flex
    }
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
    .featured-testimonial--breakpoint-tablet .featured-testimonial__quote {
        font-size: 1.875em;
        line-height: 1.3;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px
    }
}

.featured-testimonial__citation {
    display: block;
    font-size: 0.9375em;
    font-weight: 500
}

@media screen and (min-width: 46.875em) {
    .featured-testimonial--breakpoint-tablet .featured-testimonial__citation {
        font-size: 1.25em
    }
}

@media screen and (min-width: 67.5em) {
    .featured-testimonial--breakpoint-mobile .featured-testimonial__citation {
        font-size: 1.25em
    }
}

.featured-testimonial__video-wrapper {
    display: flex;
    justify-content: center
}

.featured-testimonial__video-wrapper .wistia_click_to_play {
    width: auto !important
}

.featured-testimonial__video-play-button {
    border: 1px solid #ffffff;
    color: #ffffff
}

@media screen and (max-width: 46.8125em) {
    .featured-testimonial__video-play-button {
        font-size: 0.875em;
        display: flex;
        margin: 0 auto
    }
}

.featured-testimonial__video-play-button:hover,
.featured-testimonial__video-play-button:focus {
    background-color: #ffffff;
    color: #000000
}

.featured-testimonial__video-play-icon {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-left: -5px;
    margin-bottom: -5px
}

@media screen and (max-width: 46.8125em) {
    .featured-testimonial__video-play-icon {
        min-height: 15px;
        min-width: 15px;
        max-height: 15px;
        max-width: 15px;
        margin-top: auto;
        margin-bottom: auto
    }
}

.featured-testimonial__video-play-button:hover .featured-testimonial__video-play-icon,
.featured-testimonial__video-play-button:focus .featured-testimonial__video-play-icon {
    fill: #000639
}

.announcement-banner .announcement {
    background: #054a49
}

.announcement-banner .body-link {
    color: #ffffff
}

.text-bold {
    font-weight: 700
}

.main-brochure-section {
    padding-bottom: 0
}

@media screen and (min-width: 67.5em) {
    .big-stat-container {
        margin-top: 5%;
        margin-bottom: 1.5%
    }
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
    .big-stat-container {
        margin-top: 9%;
        margin-bottom: -2%
    }
}

.big-stat-number {
    margin-bottom: 0;
    margin-left: 0
}

.big-stat-number>img {
    width: 95%
}

@media screen and (max-width: 46.8125em) {
    .big-stat-number>img {
        width: 100%
    }
}

@media screen and (min-width: 67.5em) {
    .big-stat-number {
        margin-top: -55px
    }
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
    .big-stat-number {
        margin-top: -35px
    }
}

@media screen and (max-width: 46.8125em) {
    .big-stat-grid {
        padding-bottom: 15%;
        padding-top: 10%
    }
}

.big-stat-description-container {
    margin-top: 0
}

@media screen and (min-width: 67.5em) {
    .big-stat-description-container {
        margin-top: -1.25em
    }
}

.big-stat-description-block {
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 0;
    color: #000000
}

@media screen and (min-width: 67.5em) {
    .big-stat-description-block {
        padding-left: 5%
    }
}

@media screen and (min-width: 46.875em) {
    .big-stat-description-block {
        width: 230px
    }
}

@media screen and (max-width: 46.8125em) {
    .big-stat-description-block {
        text-align: center;
        margin-bottom: 7%
    }
}

.big-stat--decoration {
    position: relative
}

.big-stat--decoration::before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: -30px;
    height: 7px;
    width: 40px;
    background-color: #fb8b8a
}

@media screen and (max-width: 46.8125em) {
    .big-stat--decoration::before {
        left: 50%;
        margin-left: -20px;
        top: -20px
    }
}

@media screen and (min-width: 67.5em) {
    .big-stat--decoration::before {
        top: -30px
    }
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
    .community-section {
        padding-bottom: 5%
    }
}

@media screen and (max-width: 46.8125em) {
    .community-section {
        padding-top: 2%;
        padding-bottom: 0
    }
}

.community-heading {
    width: 100%
}

.partner-feature-block {
    margin-bottom: 35px
}

@media screen and (max-width: 46.8125em) {
    .partner-feature-block {
        margin-bottom: 30px
    }
}

@media screen and (max-width: 46.8125em) {
    .partner-feature-grid {
        padding-bottom: 5%
    }
}

@media screen and (min-width: 67.5em) {
    .partner-feature-heading {
        width: 500px
    }
}

@media screen and (max-width: 67.4375em) {
    .partner-feature-heading {
        width: 323px
    }
}

.partner-feature-subheading {
    font-size: 1.5em;
    line-height: 32px;
    margin-bottom: 35px;
    max-width: 600px
}

@media screen and (max-width: 46.8125em) {
    .partner-feature-subheading {
        margin-bottom: 30px
    }
}

.sign-up-subheading {
    font-size: 1em
}

@media screen and (max-width: 46.8125em) {
    .scaling-resources-heading {
        width: 210px
    }
}

@media screen and (max-width: 67.4375em) {
    .scaling-resources-grid {
        padding-left: 0;
        padding-right: 0
    }
}

.scaling-resources-grid-item {
    background-color: rgba(183, 236, 236, 0.25);
    border-radius: 5px
}

@media screen and (min-width: 67.5em) {
    .scaling-resources-grid-item {
        padding: 8% 3% 11% 5%
    }
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
    .scaling-resources-grid-item {
        padding: 6% 5% 3%
    }
}

@media screen and (max-width: 46.8125em) {
    .scaling-resources-grid-item {
        padding: 9% 5% 5%
    }
}

.partnership-image-container {
    position: relative
}

@media screen and (max-width: 46.8125em) {
    .partnership-image-container {
        text-align: center;
        padding-bottom: 5%
    }
}

.partnership-image img {
    border-radius: 5px
}

.partnership-image--primary>img {
    position: absolute
}

@media screen and (max-width: 46.8125em) {
    .partnership-image--primary>img {
        position: static;
        width: 100%
    }
}

@media screen and (min-width: 67.5em) {
    .partnership-image--secondary>img {
        margin-top: -32%;
        margin-left: 5%;
        max-width: 90%
    }
}

@media screen and (max-width: 46.8125em) {
    .card-container {
        padding-bottom: 10%
    }
}

.section-heading__subhead {
    color: #000000
}

.case-study-container {
    text-align: center
}

.case-study-container-heading {
    margin-bottom: 0
}

@media screen and (min-width: 67.5em) {
    .case-study-container-heading {
        margin-top: 5.5%
    }
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
    .case-study-container-heading {
        margin-top: 4%
    }
}

.case-study-container-subheading {
    font-size: 1.5em;
    margin-top: 1%;
    margin-bottom: 5%;
    color: #000000
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
    .case-study-container-subheading {
        font-size: 1.25em;
        margin-bottom: 7%
    }
}

@media screen and (max-width: 46.8125em) {
    .case-study-container-subheading {
        margin-top: 4%;
        margin-bottom: 10%;
        line-height: 32px
    }
}

.case-study-card {
    height: 100%;
    background: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left;
    position: relative;
    overflow: hidden
}

@media screen and (max-width: 67.4375em) {
    .case-study-card {
        text-align: center
    }
}

@media screen and (min-width: 67.5em) {
    .case-study-heading {
        font-size: 1.5em;
        line-height: 32px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 1%
    }
}

@media only screen and (min-width: 930px) and (max-width: 1080px) {
    .case-study-heading {
        font-size: 1.5em;
        line-height: 30px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 5%
    }
}

@media only screen and (min-width: 750px) and (max-width: 930px) {
    .case-study-heading {
        font-size: 1.25em;
        line-height: 24px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 5%
    }
}

@media screen and (max-width: 46.8125em) {
    .case-study-heading {
        font-size: 1.5em;
        line-height: 30px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 3%
    }
}

.case-study-card__image-container,
.case-study-card__content-container {
    top: 0;
    left: 0
}

.case-study-card__image-container {
    display: block;
    width: 100%
}

.case-study-card__image-container img {
    min-width: 100%;
    height: auto;
    vertical-align: top
}

.case-study-card-link {
    font-size: 1.25em
}

@media only screen and (min-width: 930px) and (max-width: 1080px) {
    .case-study-card-link {
        font-size: 1.125em
    }
}

@media only screen and (min-width: 750px) and (max-width: 930px) {
    .case-study-card-link {
        font-size: 0.875em
    }
}

@media screen and (max-width: 46.8125em) {
    .case-study-card-link {
        font-size: 1em
    }
}

@media screen and (max-width: 67.4375em) {
    .styled-arrow-link>svg {
        visibility: hidden
    }
}

.case-study-card__content-container {
    width: 100%;
    padding: 9%
}

@media screen and (max-width: 46.8125em) {
    .case-study-card__content-container {
        padding: 9% 4% 0%
    }
}

.footer-sign-up-section {
    margin-bottom: 6%;
    padding-top: 3%
}

.merchant-success-picture>img {
    padding: 0.625em;
    width: 100%;
    border-radius: 15px
}

.merchant-success-images::after {
    content: '';
    display: table;
    clear: both
}

@media screen and (min-width: 67.5em) {
    .merchant-success-images {
        width: 88%;
        margin-bottom: 3%
    }
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
    .merchant-success-images {
        padding-left: 0
    }
}

@media only screen and (min-width: 1080px) and (max-width: 1305px) {
    .merchant-success-images {
        margin-top: 5%
    }
}

@media screen and (min-width: 67.5em) {
    .merchant-success-images .merchant-success-picture {
        width: 50%;
        padding-right: 0;
        padding-left: 0
    }
}

@media only screen and (min-width: 930px) and (max-width: 1080px) {
    .merchant-success-images .merchant-success-picture {
        width: 80%
    }
}

@media screen and (min-width: 67.5em) {
    .merchant-success-images .merchant-success-picture {
        float: left
    }
}

@media screen and (min-width: 67.5em) {
    .merchant-success-images .merchant-success-picture-1 {
        width: 50%;
        padding-right: 0;
        padding-left: 0
    }
}

@media only screen and (min-width: 930px) and (max-width: 1080px) {
    .merchant-success-images .merchant-success-picture-1 {
        width: 80%
    }
}

@media screen and (min-width: 67.5em) {
    .merchant-success-images .merchant-success-picture-1 {
        float: right;
        margin-top: -5%
    }
}