.__nuxt-error-page {
    padding: 1rem;
    background: #f7f8fb;
    color: #47494e;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: 100 !important;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.__nuxt-error-page .error {
    max-width: 450px
}

.__nuxt-error-page .title {
    font-size: 1.5rem;
    margin-top: 15px;
    color: #47494e;
    margin-bottom: 8px
}

.__nuxt-error-page .description {
    color: #7f828b;
    line-height: 21px;
    margin-bottom: 10px
}

.__nuxt-error-page a {
    color: #7f828b !important;
    text-decoration: none
}

.__nuxt-error-page .logo {
    position: fixed;
    left: 12px;
    bottom: 12px
}

.nuxt-progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 0;
    opacity: 1;
    transition: width .1s, opacity .4s;
    background-color: #fff;
    z-index: 999999
}

.nuxt-progress.nuxt-progress-notransition {
    transition: none
}

.nuxt-progress-failed {
    background-color: red
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    color: #000;
    text-decoration: none
}

li {
    list-style: none
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

strong {
    font-weight: 700
}

body,
html {
    font-family: PingFangSC, helvetica neue, hiragino sans gb, arial, microsoft yahei ui, microsoft yahei, simsun, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    min-width: 1200px
}
/* 
@font-face {
    font-family: AlteDIN;
    src: url(https://sf3-ttcdn-tos.pstatp.com/obj/ttfe/cg/business/AlteDIN1451Mittelschriftgepraegt.ttf)
} */

.container {
    width: 1180px;
    margin: 0 auto
}

button {
    cursor: pointer
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet-custom,
button {
    outline: none
}

.arrow {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url(//s3a.pstatp.com/cg_growth/oceanengine/client/img/e532983.svg);
    background-size: cover
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important
}

.custom-toast {
    position: fixed;
    left: 50%;
    padding: 10px 30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
    z-index: 9999;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    background: rgba(0, 0, 0, .6);
    animation: show-toast .5s;
    -webkit-animation: show-toast .5s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80%
}

.custom-toast.custom-word-wrap {
    width: 80%;
    white-space: inherit;
    height: auto
}

.custom-toast.custom-toast-top {
    top: .5rem
}

.custom-toast.custom-toast-center {
    top: 50%;
    margin-top: -.2rem
}

.custom-toast.custom-toast-bottom {
    bottom: 0
}

@-webkit-keyframes show-toast {
    0% {
        opacity: 0;
        transform: translate(-50%, -10px);
        -webkit-transform: translate(-50%, -10px)
    }

    to {
        opacity: 1;
        transform: translate(-50%);
        -webkit-transform: translate(-50%)
    }
}

@keyframes show-toast {
    0% {
        opacity: 0;
        transform: translate(-50%, -10px);
        -webkit-transform: translate(-50%, -10px)
    }

    to {
        opacity: 1;
        transform: translate(-50%);
        -webkit-transform: translate(-50%)
    }
}
.container {
    width: 1200px;
    margin: 0 auto;
}
h2 {
    font-family: PingFangSC-Semibold;
    font-size: 32px;
    color: #222;
    line-height: 46px
}

h2:after {
    display: block;
    content: "";
    width: 24px;
    height: 4px;
    margin: 16px auto 12px;
    border-radius: 2px;
    background-image: linear-gradient(90deg, #ffc809, #ffc809)
}

h3 {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #555;
    line-height: 24px;
    margin-top: 13px
}

.page-header {
    width: 100%;
    height: 464px;
    text-align: center;
    padding-top: 202px;
    box-sizing: border-box;
    background-position: 50%;
    background-size: cover
}

.page-header .title-wrapper h2 {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    line-height: 45px;
    text-shadow: 0 2px 72px rgba(0, 0, 0, .51)
}

.page-header .title-wrapper h2:after {
    margin: 14px auto
}

.page-header .title-wrapper h3 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
    opacity: 1;
    text-shadow: 0 2px 40px rgba(0, 0, 0, .5)
}

.advertise-wrapper {
    position: relative;
    padding-top: 56px;
    padding-bottom: 62px;
    background: #fafafa;
    text-align: center
}

.advertise-wrapper .title-wrapper {
    margin-bottom: 64px
}

.case-page .container {
    padding-bottom: 80px
}

.case-page .container .filter-bar {
    margin: 80px auto 32px
}

.case-page .container .filter-bar .select {
    position: relative;
    margin-right: 50px;
    height: 24px;
    line-height: 24px;
    display: inline-block
}

.case-page .container .filter-bar .select .select-value {
    cursor: pointer
}

.case-page .container .filter-bar .select .select-value .arrow {
    width: 14px;
    height: 8px;
    background-image: url(//s3a.pstatp.com/cg_growth/oceanengine/client/img/113525e.svg);
    background-size: cover;
    vertical-align: middle;
    display: inline-block;
    margin-left: 9px;
    position: relative;
    top: -3px
}

.case-page .container .filter-bar .select .select-options {
    position: absolute;
    top: 31px;
    width: 210px;
    z-index: 2;
    box-shadow: 0 2px 8px 0 rgba(34, 34, 34, .08);
    border-radius: 4px;
    background: #fff;
    max-height: 305px;
    overflow-y: scroll
}

.case-page .container .filter-bar .select .select-options .option {
    padding: 8.5px 16px;
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #333;
    line-height: 24px;
    cursor: pointer
}

.case-page .container .filter-bar .select .select-options .option:hover {
    background: rgba(34, 34, 34, .05)
}

.case-page .container .filter-bar .select .select-options .cur-option {
    color: #2f6aff;
    background: url(//s3a.pstatp.com/cg_growth/oceanengine/client/img/21e36b9.svg) no-repeat 181px
}

.case-page .container .case-wrapper .case-block {
    width: 372px;
    display: inline-block;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .06);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 32px;
    transition: transform .2s, height .2s
}

.case-page .container .case-wrapper .case-block:nth-child(3n+2) {
    margin: 0 32px 32px
}

.case-page .container .case-wrapper .case-block:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, .1);
    border-radius: 11px
}

.case-page .container .case-wrapper .case-block .img {
    width: 100%;
    height: 223px
}

.case-page .container .case-wrapper .case-block .logo-wrapper {
    border-radius: 50%;
    position: absolute;
    top: 187px;
    left: 28px;
    padding: 4px;
    background: #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .06)
}

.case-page .container .case-wrapper .case-block .logo-wrapper .logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-size: cover
}

.case-page .container .case-wrapper .case-block .content {
    width: 100%;
    padding: 41px 32px 16px;
    box-sizing: border-box
}

.case-page .container .case-wrapper .case-block .content .name {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #555;
    line-height: 24px
}

.case-page .container .case-wrapper .case-block .content .desc {
    font-size: 20px;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    color: #222;
    line-height: 24px;
    margin: 16px 0 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.case-page .container .case-wrapper .case-block .content .tags-wrapper .tag {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #bcbcbc;
    line-height: 22px
}

.case-page .container .case-wrapper .case-block .content .tags-wrapper .tag:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background: #e3e3e3;
    margin: 0 16px;
    vertical-align: middle
}

.case-page .container .case-wrapper .case-block .content .tags-wrapper:after {
    content: "";
    display: block;
    width: 372px;
    height: 1px;
    background: #e3e3e3;
    opacity: .4;
    margin: 16px 0 16px -32px
}

.case-page .container .case-wrapper .case-block .content .data-wrapper {
    text-align: center;
    display: flex;
    justify-content: space-around
}

.case-page .container .case-wrapper .case-block .content .data-wrapper .data-block {
    display: inline-block;
    text-align: center;
    margin: 0 12px
}

.case-page .container .case-wrapper .case-block .content .data-wrapper .data-block .unit,
.case-page .container .case-wrapper .case-block .content .data-wrapper .data-block .value {
    font-size: 30px;
    font-family: AlteDIN;
    color: #2f6aff;
    line-height: 24px
}

.case-page .container .case-wrapper .case-block .content .data-wrapper .data-block .unit {
    font-size: 14px
}

.case-page .container .case-wrapper .case-block .content .data-wrapper .data-block .data-name {
    font-size: 14px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(34, 34, 34, .3);
    line-height: 20px
}

.case-page .container .case-wrapper .hide-case {
    display: none
}

.case-page .container .show-more-btn {
    display: block;
    width: 288px;
    height: 52px;
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #ffc809;
    line-height: 52px;
    /* vertical-align: center; */
    border-radius: 28px;
    margin: 16px auto 0;
    position: relative;
    border: none;
    background: #fff
}

.case-page .container .show-more-btn:after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    background: linear-gradient(90deg, #ffc809, #ffc809);
    border-radius: 28px;
    z-index: -1
}
.form-wrapper .form-block {
    margin-bottom: 32px
}

.form-wrapper .form-block .form-item {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 0
}

.form-wrapper .form-block .form-item:first-child {
    margin-right: 26px
}

.form-wrapper .form-block .form-item .error {
    border-color: #ff091b
}

.form-wrapper .form-block .form-item span.error {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #ff091b;
    line-height: 22px;
    position: absolute;
    left: 24px;
    top: 53px
}

.form-wrapper .form-block .select,
.form-wrapper .form-block input {
    width: 360px;
    height: 48px;
    background: #fff;
    border-radius: 26px;
    border: 1px solid #e8e8e8;
    padding: 0 24px;
    box-sizing: border-box;
    outline: none;
    line-height: 1.5;
    font-size: 16px
}

.form-wrapper .form-block .select:focus,
.form-wrapper .form-block .select:hover,
.form-wrapper .form-block input:focus,
.form-wrapper .form-block input:hover {
    border-color: #2f6aff
}

.form-wrapper .form-block .select :-moz-placeholder,
.form-wrapper .form-block .select ::-moz-placeholder,
.form-wrapper .form-block input :-moz-placeholder,
.form-wrapper .form-block input ::-moz-placeholder {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #bebebe;
    line-height: 24px
}

.form-wrapper .form-block .select::-webkit-input-placeholder,
.form-wrapper .form-block input::-webkit-input-placeholder {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #bebebe;
    line-height: 24px
}

.form-wrapper .form-block .select:-ms-input-placeholder,
.form-wrapper .form-block input:-ms-input-placeholder {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #bebebe;
    line-height: 24px
}

.form-wrapper .form-block .address,
.form-wrapper .form-block .select {
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer
}

.form-wrapper .form-block .address .text,
.form-wrapper .form-block .select .text {
    vertical-align: middle;
    line-height: 48px;
    text-align: left
}

.form-wrapper .form-block .address .text:after,
.form-wrapper .form-block .select .text:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 24px;
    width: 8px;
    height: 8px;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    transform: rotate(45deg);
    transform: translateY(-50%) rotate(45deg)
}

.form-wrapper .form-block .address .placeholder-text,
.form-wrapper .form-block .select .placeholder-text {
    color: #bebebe
}

.form-wrapper .form-block .address .budget-list,
.form-wrapper .form-block .address .province-select,
.form-wrapper .form-block .select .budget-list,
.form-wrapper .form-block .select .province-select {
    position: absolute;
    margin-top: 8px;
    left: 0;
    width: 164px;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    border-radius: 2px;
    z-index: 100
}

.form-wrapper .form-block .address .budget-list .swiper-container,
.form-wrapper .form-block .address .province-select .swiper-container,
.form-wrapper .form-block .select .budget-list .swiper-container,
.form-wrapper .form-block .select .province-select .swiper-container {
    max-height: 304px
}

.form-wrapper .form-block .address .budget-list .province-item,
.form-wrapper .form-block .address .province-select .province-item,
.form-wrapper .form-block .select .budget-list .province-item,
.form-wrapper .form-block .select .province-select .province-item {
    position: relative;
    padding-left: 25px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #666;
    text-align: left;
    cursor: pointer
}

.form-wrapper .form-block .address .budget-list .province-item.more:after,
.form-wrapper .form-block .address .province-select .province-item.more:after,
.form-wrapper .form-block .select .budget-list .province-item.more:after,
.form-wrapper .form-block .select .province-select .province-item.more:after {
    content: "";
    position: absolute;
    right: 23px;
    top: 12px;
    width: 6px;
    height: 6px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    transform: rotate(-45deg)
}

.form-wrapper .form-block .address .budget-list .province-item.selected,
.form-wrapper .form-block .address .province-select .province-item.selected,
.form-wrapper .form-block .select .budget-list .province-item.selected,
.form-wrapper .form-block .select .province-select .province-item.selected {
    color: #2f6aff
}

.form-wrapper .form-block .address .budget-list .province-item.selected:after,
.form-wrapper .form-block .address .province-select .province-item.selected:after,
.form-wrapper .form-block .select .budget-list .province-item.selected:after,
.form-wrapper .form-block .select .province-select .province-item.selected:after {
    border-color: #2f6aff
}

.form-wrapper .form-block .address .budget-list .province-item.active,
.form-wrapper .form-block .address .budget-list .province-item:hover,
.form-wrapper .form-block .address .province-select .province-item.active,
.form-wrapper .form-block .address .province-select .province-item:hover,
.form-wrapper .form-block .select .budget-list .province-item.active,
.form-wrapper .form-block .select .budget-list .province-item:hover,
.form-wrapper .form-block .select .province-select .province-item.active,
.form-wrapper .form-block .select .province-select .province-item:hover {
    background: #ebebeb
}

.form-wrapper .form-block .address .city-select,
.form-wrapper .form-block .select .city-select {
    position: absolute;
    margin-top: 8px;
    left: 164px;
    width: 164px;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    border-radius: 2px;
    transition: top .3s ease;
    z-index: 100
}

.form-wrapper .form-block .address .city-select .swiper-container,
.form-wrapper .form-block .select .city-select .swiper-container {
    max-height: 304px
}

.form-wrapper .form-block .address .budget-list,
.form-wrapper .form-block .select .budget-list {
    width: 328px
}

.form-wrapper .form-block .address .budget-item,
.form-wrapper .form-block .address .city-item,
.form-wrapper .form-block .select .budget-item,
.form-wrapper .form-block .select .city-item {
    position: relative;
    padding-left: 25px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #666;
    text-align: left;
    cursor: pointer
}

.form-wrapper .form-block .address .budget-item.selected,
.form-wrapper .form-block .address .city-item.selected,
.form-wrapper .form-block .select .budget-item.selected,
.form-wrapper .form-block .select .city-item.selected {
    color: #2f6aff
}

.form-wrapper .form-block .address .budget-item:hover,
.form-wrapper .form-block .address .city-item:hover,
.form-wrapper .form-block .select .budget-item:hover,
.form-wrapper .form-block .select .city-item:hover {
    background: #ebebeb
}

.form-wrapper .form-block .error-item {
    border-color: #ff091b
}

.form-wrapper .form-block .error-item .error-msg {
    color: #ff091b
}

.form-wrapper .budget-form-block {
    margin-bottom: 20px
}

.form-wrapper .agree-wrapper {
    text-align: left;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333;
    line-height: 24px
}

.form-wrapper .agree-wrapper a {
    color: #2f6aff
}

.form-wrapper .form-btn {
    display: block;
    padding: 14px 95px;
    background-image: linear-gradient(90deg, #ffc809, #ffc809);
    border-radius: 28px;
    border: none;
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    outline: none;
    margin: 48px auto 56px;
    background: linear-gradient(90deg, #ffc809, #ffc809)
}

.form-wrapper .form-btn:hover {
    box-shadow: 0 6px 24px 0 rgba(0, 0, 0, .06)
}

.form-wrapper .contact-wrapper {
    margin-bottom: 8px
}

.form-wrapper .contact-wrapper .text {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #222;
    line-height: 24px
}

.form-wrapper .contact-wrapper .register-wrapper,
.form-wrapper .contact-wrapper .service-text,
.form-wrapper .contact-wrapper .tel-wrapper-in-modal {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    position: absolute
}

.form-wrapper .contact-wrapper .tel-wrapper-in-modal {
    left: 50%;
    margin-left: -200px
}

.form-wrapper .contact-wrapper .tel-wrapper-in-modal .tel-num,
.form-wrapper .contact-wrapper .tel-wrapper .tel-num {
    font-size: 32px;
    font-family: AlteDIN;
    color: #2f6aff;
    line-height: 44px;
    position: relative;
    left: 0;
    top: 2px;
    letter-spacing: -1px
}

.form-wrapper .contact-wrapper .short-line {
    display: inline-block;
    width: 1px;
    height: 68px;
    background: #e3e3e3;
    margin: 0 auto
}

.form-wrapper .contact-wrapper .register-wrapper {
    left: 50%;
    margin-left: 40px
}

.form-wrapper .contact-wrapper .register-wrapper .register {
    display: block;
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #2f6aff;
    line-height: 22px;
    margin-top: 8px;
    padding-right: 22px;
    background: url(//s3a.pstatp.com/cg_growth/oceanengine/client/img/d190168.svg) no-repeat 100%
}

.form-wrapper .contact-wrapper .service-text {
    display: inline-block;
    width: 236px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #999;
    line-height: 24px;
    text-align: left;
    left: 50%;
    margin-left: 40px
}

.form-in-modal-wrapper {
    margin-top: 50px
}

.form-in-modal-wrapper .form-block .form-item {
    margin: 0
}

.form-in-modal-wrapper .form-block .address,
.form-in-modal-wrapper .form-block .select,
.form-in-modal-wrapper .form-block input {
    width: 328px
}

.form-in-modal-wrapper .form-btn {
    width: 416px;
    margin: 32px auto 40px
}

.visitClue-modal-wrapper .verify-block {
    display: inline-flex
}

.visitClue-modal-wrapper .verify-block:first-child {
    margin-left: 27px
}

.visitClue-modal-wrapper .verify-block .form-item:first-child {
    margin-right: 26px
}

.visitClue-modal-wrapper .verify-block input {
    width: 400px
}

.visitClue-modal-wrapper .verify-block .img-code-input {
    width: 210px
}

.visitClue-modal-wrapper .verify-block .img-code-img {
    width: 100px;
    height: 40px;
    display: inline-block;
    margin: 0 16px 0 32px
}

.visitClue-modal-wrapper .verify-block .change-img-code {
    color: #2f6aff;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    cursor: pointer
}

.visitClue-modal-wrapper .verify-block .tel-code {
    width: 273px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none
}

.visitClue-modal-wrapper .verify-block .tel-code.error {
    border-right: 1px solid #ff091b
}

.visitClue-modal-wrapper .verify-block .get-tel-code {
    display: inline-block;
    width: 126px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    color: #2f6aff;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    background: #fff;
    position: relative;
    box-sizing: border-box;
    margin-left: 1px;
    cursor: pointer;
    z-index: 1
}

.visitClue-modal-wrapper .verify-block .get-tel-code:after {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(90deg, #4bf5ff, #2f6aff);
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    z-index: -1
}

.visitClue-modal-wrapper .verify-block .get-tel-code .get-tel-code-text {
    background: #fff;
    opacity: 1;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    display: block;
    width: 100%;
    padding: 11px 0
}

.visitClue-modal-wrapper .verify-block .disabled-get-tel-code {
    cursor: not-allowed
}

.visitClue-modal-wrapper .verify-block .disabled-get-tel-code .get-tel-code-text {
    color: rgba(47, 106, 255, .5)
}

.visitClue-modal-wrapper .verify-block .disabled-get-tel-code:after {
    background: linear-gradient(90deg, rgba(75, 245, 255, .5), rgba(47, 106, 255, .5))
}

.visitClue-modal-wrapper .verify-block .tel-code:focus,
.visitClue-modal-wrapper .verify-block .tel-code:hover {
    border-right: 1px solid #2f6aff
}

.visitClue-modal-wrapper .verify-block .tel-code.error+.get-tel-code:after,
.visitClue-modal-wrapper .verify-block .tel-code:hover+.get-tel-code:after {
    left: 0
}

.visitClue-modal-wrapper .verify-block .img-code-input {
    width: 173px
}

.visitClue-modal-wrapper .verify-block .tel-code {
    width: 210px
}

.visitClue-modal-wrapper .verify-block .get-tel-code {
    width: 146px
}

.contentClue-modal-wrapper .form-btn {
    margin-bottom: 0 !important
}

.noCall-modal-wrapper {
    margin-top: 40px
}

.noCall-modal-wrapper .form-block .form-item:first-child {
    margin-right: 0
}

.noCall-modal-wrapper .form-block input {
    width: 400px
}

.noCall-modal-wrapper .form-block .img-code-input {
    width: 210px
}

.noCall-modal-wrapper .form-block .img-code-img {
    width: 100px;
    height: 40px;
    display: inline-block;
    margin: 0 16px 0 32px
}

.noCall-modal-wrapper .form-block .change-img-code {
    color: #2f6aff;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    cursor: pointer
}

.noCall-modal-wrapper .form-block .tel-code {
    width: 273px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none
}

.noCall-modal-wrapper .form-block .tel-code.error {
    border-right: 1px solid #ff091b
}

.noCall-modal-wrapper .form-block .get-tel-code {
    display: inline-block;
    width: 126px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    color: #2f6aff;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    background: #fff;
    position: relative;
    box-sizing: border-box;
    margin-left: 1px;
    cursor: pointer;
    z-index: 1
}

.noCall-modal-wrapper .form-block .get-tel-code:after {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(90deg, #4bf5ff, #2f6aff);
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    z-index: -1
}

.noCall-modal-wrapper .form-block .get-tel-code .get-tel-code-text {
    background: #fff;
    opacity: 1;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    display: block;
    width: 100%;
    padding: 11px 0
}

.noCall-modal-wrapper .form-block .disabled-get-tel-code {
    cursor: not-allowed
}

.noCall-modal-wrapper .form-block .disabled-get-tel-code .get-tel-code-text {
    color: rgba(47, 106, 255, .5)
}

.noCall-modal-wrapper .form-block .disabled-get-tel-code:after {
    background: linear-gradient(90deg, rgba(75, 245, 255, .5), rgba(47, 106, 255, .5))
}

.noCall-modal-wrapper .form-block .tel-code:focus,
.noCall-modal-wrapper .form-block .tel-code:hover {
    border-right: 1px solid #2f6aff
}

.noCall-modal-wrapper .form-block .tel-code.error+.get-tel-code:after,
.noCall-modal-wrapper .form-block .tel-code:hover+.get-tel-code:after {
    left: 0
}

.noCall-modal-wrapper .form-btn {
    width: 400px;
    margin: 48px auto 8px
}

.form-in-visitClue-modal-wrapper .verify-block:first-child {
    margin-left: 0
}

.form-in-visitClue-modal-wrapper .verify-block:first-child .form-item:first-child {
    margin-right: 30
}

.form-in-visitClue-modal-wrapper .verify-block .form-item:first-child {
    margin-right: 0
}

.form-in-visitClue-modal-wrapper .verify-block input {
    width: 400px
}

.form-in-visitClue-modal-wrapper .verify-block .img-code-input {
    width: 210px
}

.form-in-visitClue-modal-wrapper .verify-block .img-code-img {
    width: 100px;
    height: 40px;
    display: inline-block;
    margin: 0 16px 0 32px
}

.form-in-visitClue-modal-wrapper .verify-block .change-img-code {
    color: #2f6aff;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    cursor: pointer
}

.form-in-visitClue-modal-wrapper .verify-block .tel-code {
    width: 273px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none
}

.form-in-visitClue-modal-wrapper .verify-block .tel-code.error {
    border-right: 1px solid #ff091b
}

.form-in-visitClue-modal-wrapper .verify-block .get-tel-code {
    display: inline-block;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    color: #2f6aff;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    background: #fff;
    position: relative;
    box-sizing: border-box;
    margin-left: 1px;
    cursor: pointer;
    z-index: 1
}

.form-in-visitClue-modal-wrapper .verify-block .get-tel-code:after {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(90deg, #4bf5ff, #2f6aff);
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    z-index: -1
}

.form-in-visitClue-modal-wrapper .verify-block .get-tel-code .get-tel-code-text {
    background: #fff;
    opacity: 1;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    display: block;
    width: 100%;
    padding: 11px 0
}

.form-in-visitClue-modal-wrapper .verify-block .disabled-get-tel-code {
    cursor: not-allowed
}

.form-in-visitClue-modal-wrapper .verify-block .disabled-get-tel-code .get-tel-code-text {
    color: rgba(47, 106, 255, .5)
}

.form-in-visitClue-modal-wrapper .verify-block .disabled-get-tel-code:after {
    background: linear-gradient(90deg, rgba(75, 245, 255, .5), rgba(47, 106, 255, .5))
}

.form-in-visitClue-modal-wrapper .verify-block .tel-code:focus,
.form-in-visitClue-modal-wrapper .verify-block .tel-code:hover {
    border-right: 1px solid #2f6aff
}

.form-in-visitClue-modal-wrapper .verify-block .tel-code.error+.get-tel-code:after,
.form-in-visitClue-modal-wrapper .verify-block .tel-code:hover+.get-tel-code:after {
    left: 0
}

.form-in-visitClue-modal-wrapper .verify-block .img-code-img {
    margin: 0 16px
}

.form-in-visitClue-modal-wrapper .verify-block .img-code-input {
    width: 150px
}

.form-in-visitClue-modal-wrapper .verify-block .tel-code {
    width: 195px
}

.form-in-visitClue-modal-wrapper .verify-block .get-tel-code {
    width: 126px
}

.form-in-contentClue-modal-wrapper .verify-block {
    display: inline-flex
}

.form-in-contentClue-modal-wrapper .verify-block:first-child {
    margin-left: 0
}

.form-in-contentClue-modal-wrapper .verify-block:first-child .form-item:first-child {
    margin-right: 30
}

.form-in-contentClue-modal-wrapper .verify-block .form-item:first-child {
    margin-right: 0
}

.form-in-contentClue-modal-wrapper .verify-block input {
    width: 400px
}

.form-in-contentClue-modal-wrapper .verify-block .img-code-input {
    width: 210px
}

.form-in-contentClue-modal-wrapper .verify-block .img-code-img {
    width: 100px;
    height: 40px;
    display: inline-block;
    margin: 0 16px 0 32px
}

.form-in-contentClue-modal-wrapper .verify-block .change-img-code {
    color: #2f6aff;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    cursor: pointer
}

.form-in-contentClue-modal-wrapper .verify-block .tel-code {
    width: 273px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none
}

.form-in-contentClue-modal-wrapper .verify-block .tel-code.error {
    border-right: 1px solid #ff091b
}

.form-in-contentClue-modal-wrapper .verify-block .get-tel-code {
    display: inline-block;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    color: #2f6aff;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    background: #fff;
    position: relative;
    box-sizing: border-box;
    margin-left: 1px;
    cursor: pointer;
    z-index: 1
}

.form-in-contentClue-modal-wrapper .verify-block .get-tel-code:after {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(90deg, #4bf5ff, #2f6aff);
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    z-index: -1
}

.form-in-contentClue-modal-wrapper .verify-block .get-tel-code .get-tel-code-text {
    background: #fff;
    opacity: 1;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    display: block;
    width: 100%;
    padding: 11px 0
}

.form-in-contentClue-modal-wrapper .verify-block .disabled-get-tel-code {
    cursor: not-allowed
}

.form-in-contentClue-modal-wrapper .verify-block .disabled-get-tel-code .get-tel-code-text {
    color: rgba(47, 106, 255, .5)
}

.form-in-contentClue-modal-wrapper .verify-block .disabled-get-tel-code:after {
    background: linear-gradient(90deg, rgba(75, 245, 255, .5), rgba(47, 106, 255, .5))
}

.form-in-contentClue-modal-wrapper .verify-block .tel-code:focus,
.form-in-contentClue-modal-wrapper .verify-block .tel-code:hover {
    border-right: 1px solid #2f6aff
}

.form-in-contentClue-modal-wrapper .verify-block .tel-code.error+.get-tel-code:after,
.form-in-contentClue-modal-wrapper .verify-block .tel-code:hover+.get-tel-code:after {
    left: 0
}

.form-in-contentClue-modal-wrapper .verify-block .img-code-img {
    margin: 0 16px
}

.form-in-contentClue-modal-wrapper .verify-block .img-code-input {
    width: 150px
}

.form-in-contentClue-modal-wrapper .verify-block .tel-code {
    width: 195px
}

.form-in-contentClue-modal-wrapper .verify-block .get-tel-code {
    width: 126px
}

.success-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 12
}

.success-modal-wrapper .mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    transition: opacity .3s
}

.success-modal-wrapper .content {
    width: 426px;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .15);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 45px 32px;
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    transition: all .5s ease
}

.success-modal-wrapper .content .close-btn {
    width: 12px;
    height: 12px;
    font-size: 24px;
    position: absolute;
    top: 22px;
    right: 25px;
    transform: scaleY(.8);
    color: #999;
    cursor: pointer
}

.success-modal-wrapper .content .title {
    display: inline-block;
    font-size: 20px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #000;
    line-height: 28px;
    padding-left: 36px;
    background: url(//s3a.pstatp.com/cg_growth/oceanengine/client/img/9f4bc62.svg) no-repeat
}

.success-modal-wrapper .content .desc {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #333;
    line-height: 24px;
    margin: 24px auto 34px
}

.success-modal-wrapper .content .btn {
    display: block;
    padding: 9px 35px;
    background-image: linear-gradient(73deg, #4bf5ff 5%, #2f6aff 88%);
    border-radius: 28px;
    border: none;
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    color: #fff;
    line-height: 24px;
    outline: none;
    background: linear-gradient(334deg, #772fff, #2f6aff 30%, #4bf5ff);
    display: inline-block;
    margin-bottom: 13px
}

.success-modal-wrapper .content .btn:hover {
    box-shadow: 0 6px 24px 0 rgba(0, 0, 0, .06)
}

.success-modal-wrapper .content .help {
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #999;
    line-height: 24px
}

.success-modal-wrapper .content .help span {
    color: #2f6aff;
    font-family: AlteDIN;
    font-size: 16px
}

.success-modal-wrapper .show-modal {
    opacity: 1
}

.noCall-success-modal-wrapper .content .desc {
    color: #000;
    margin-top: 23px;
    margin-bottom: 32px
}

.noCall-success-modal-wrapper .content .btn {
    margin-bottom: 16px
}