body {
    height: 100%;
    position: relative
}

.g-box1 {
    width: 1000px;
    margin: 0 auto
}

.reg-wrapper3 {
    position: relative
}

#authed-close {
    position: absolute;
    font-size: 14px;
    color: #000;
    right: 10px;
    top: 5px;
    text-decoration: none
}

.cont2.contact-row6 {
    height: 50px
}

.cont2.contact-row6 .contact-address {
    height: 50px;
    line-height: 50px
}

.cont3.contact-row6 {
    height: 100px
}

.cont3.contact-row6 span {
    height: 100px;
    float: left;
    padding-right: 4px
}

.cont3.contact-row6 .col3 {
    line-height: 50px
}

.con-tab tr {
    border-bottom: 1px solid #27a9f2
}

.con-tab td {
    padding: 10px;
    line-height: 200%
}

.contact {
    padding-bottom: 50px
}

.contact h1 {
    font-size: 30px;
    color: #27a9f2;
    font-weight: 400
}

.contact span {
    display: inline-block;
    padding-left: 15px;
    font-size: 14px;
    color: #383838
}

.contact .col1 {
    width: 70px
}

.contact .col2 {
    width: 250px
}

.contact .col3 {
    width: 260px;
    color: #27a9f2
}

.contact .col4 {
    width: 170px
}

.contact .col5 {
    width: 180px
}

.contact .col6 {
    width: 120px
}

.contact div {
    line-height: 50px
}

.contact .contact-bg {
    background-color: #f6f7f7
}

.contact-address {
    float: left;
    width: 70px;
    padding-left: 15px;
    background-color: #fff
}

.contact-row1,
.contact-row2,
.contact-row3,
.contact-row4,
.contact-row5,
.contact-row6,
.contact-row-1 {
    border-bottom: 1px solid #27a9f2
}

.contact .contact-row1 {
    background-color: #27a9f2;
    height: 40px;
    line-height: 40px
}

.contact .contact-row1 span {
    color: #fff
}

.contact .contact-row3 {
    height: 300px
}

.contact-row3 .contact-address {
    height: 300px;
    line-height: 300px
}

.contact .contact-row4 {
    height: 250px
}

.contact-row4 .contact-address {
    height: 250px;
    line-height: 250px
}

.contact .contact-row5 {
    height: 150px
}

.contact-row5 .contact-address {
    height: 150px;
    line-height: 150px
}

.contact .contact-row6,
.contact .contact-row-1 {
    overflow: hidden
}

.contact-row6 .contact-address {
    height: 100px;
    line-height: 100px
}

.contact-row2 .contact-address {
    height: 200px;
    line-height: 200px
}

.contact-row-1 .contact-address {
    height: 50px;
    line-height: 50px
}

.footer-top {
    background-color: #fff;
    border-top: 1px solid #ebeaea;
    padding: 20px 0
}

.footer-top ul {
    width: 88%;
    margin-left: 6%;
    display: inline-block
}

.footer-top li {
    float: left;
    width: 20%;
    color: #333;
    text-align: center;
    background: url('../../../img/footer_top_icon0.png')right no-repeat
}

.footer-top li.last {
    background: 0 0
}

.footer-top li span {
    display: block;
    font-size: 17px;
    padding-top: 5px
}

.footer-top li:hover {
    color: #0ca2fa;
    cursor: pointer
}

.m-hd-r {
    position: relative;
    border-bottom: 1px solid #eee;
    box-shadow: 1px 0 20px #eee
}

.m-hd-r>li>a,
.m-hd-r a {
    color: #333 !important
}

.m-hd-r:hover {
    background-color: #fff
}

.posts {
    background-color: #fff;
    padding: 40px 0
}

.posts h1 {
    font-weight: 400;
    font-size: 24px;
    color: #27a9f2;
    border-bottom: 1px solid #27a9f2;
    padding-bottom: 20px;
    margin-bottom: 0
}

.posts a {
    text-decoration: none
}

.posts ul,
.posts li {
    display: inline-block;
    width: 100%
}

.posts li {
    padding: 15px 0;
    border-bottom: 1px solid #f0efef
}

.posts li h4 {
    font-size: 14px;
    color: #383838;
    float: left;
    margin: 0
}

.posts li span {
    font-size: 14px;
    color: silver;
    float: right
}

.posts .page {
    display: block;
    width: 100%;
    border-top: 1px solid #27a9f2;
    padding-top: 40px;
    text-align: right
}

.posts .page a {
    border: 1px solid #e7e7e7;
    color: #a4a3aa;
    font-size: 14px;
    padding: 5px 10px
}

.posts .page a.now,
.posts .page a:hover {
    background-color: #27a9f2;
    border: 1px solid #27a9f2;
    color: #fff
}

.Public-content {
    background: #fff;
    background-repeat: repeat-y;
    display: block;
    background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    width: 100%;
    margin-top: 0
}

.Public {
    width: 980px;
    margin: 0 auto;
    padding: 20px 0
}

.Public-h1 {
    font-size: 26px;
    text-shadow: 1px 0 3px #666;
    color: #333;
    display: block;
    padding: 30px 0 10px;
    text-indent: 2em
}

.Public-city {
    display: block;
    padding: 10px 0;
    margin: 15px 0
}

.Public-city-h1 {
    font-size: 26px;
    text-shadow: 1px 0 3px #666;
    color: #fff;
    display: inline-block;
    text-indent: 2em
}

.Public-city-h2 {
    font-size: 14px;
    display: inline-block;
    float: right;
    padding-right: 30px
}

.Public-city-h2 a {
    text-decoration: none;
    height: 18px;
    display: inline-block;
    padding: 5px 10px;
    background-color: #8685b0;
    color: #fff
}

.Public-city-h2 a.china {
    border-radius: 3px 0 0 3px
}

.Public-city-h2 a.world {
    border-radius: 0 3px 3px 0
}

.Public-city-h2 a.on {
    background-color: #ebf1f5;
    color: #8685b0
}

.Public-city-h2 a:hover {
    color: #f0aa39
}

.Public-h2 {
    background: url(../../../img/index1/weimob-proxy.png) no-repeat;
    color: #fff;
    width: 237px;
    margin: 0 auto;
    display: block;
    height: 63px;
    text-shadow: 1px 0 3px #666;
    font-size: 30px;
    text-align: center;
    line-height: 63px
}

.Public-box {
    height: auto
}

.Public-box,
.Public-box-news {
    background: rgba(255, 255, 255, .3) 0 0 !important;
    filter: Alpha(opacity=30);
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 1px 2px #666;
    -webkit-box-shadow: 0 1px 2px #666;
    -moz-box-shadow: 0 1px 2px #666;
    padding: 5px
}

.Public-box-news {
    width: 460px;
    height: 300px;
    overflow: hidden;
    display: inline-block;
    margin: 10px 5px
}

.Proxy-news h3 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    margin-top: 20px
}

.Proxy-news p {
    line-height: 22px;
    font-size: 14px
}

.Proxy-news a img {
    display: block;
    width: 440px;
    height: 190px;
    overflow: hidden
}

.Proxy-news a img:hover {
    background: url(../../../img/index1/news-bg.png) no-repeat
}

.public-info {
    margin: 10px 0;
    font-size: 12px;
    text-indent: 4em;
    color: #ccc
}

.public-info a {
    margin: 0 4px;
    color: #ccc;
    text-decoration: none
}

.ct-top {
    background-color: #59c1fd;
    text-align: center
}

.ct-top h1 {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    position: absolute;
    text-align: center;
    top: 35px
}

.ct-top h1,
.ct-top p {
    width: 100%;
    left: 0
}

.ct-top p,
.ct-top a {
    font-weight: 400;
    position: absolute;
    text-align: center
}

.ct-top a,
.ct-top p {
    color: #fff
}

.ct-top p {
    top: 107px;
    font-size: 14px;
    line-height: 23px
}

.ct-top a {
    font-size: 18px;
    top: 225px;
    display: block;
    padding: 10px 20px;
    border: 1px solid #fff;
    width: 110px;
    left: 50%;
    margin-left: -75px;
    text-decoration: none;
    border-radius: 5px
}

.ct-product {
    padding: 40px 0
}

.ct-product a {
    color: #0ba1fa;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 0
}

.ct-product .abs-a {
    width: 140px;
    height: 155px;
    top: 125px;
    left: 150px
}

.ct-product .abs-a2 {
    left: 338px
}

.ct-product .abs-a3 {
    left: 528px
}

.ct-product .abs-a4 {
    left: 718px
}

.ct-product .abs-a5 {
    top: 315px;
    left: 150px
}

.ct-product .abs-a6 {
    top: 315px;
    left: 338px
}

.ct-product .abs-a7 {
    top: 315px;
    left: 528px
}

.ct-product .abs-a8 {
    top: 315px;
    left: 718px
}

.ct-catering {
    padding: 40px 0;
    background-color: #f9f9f9
}

/* .txt {
    color: #383838;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0
} */

.txt1 {
    top: 11px;
    left: 195px;
    font-size: 16px;
    color: #818181;
    line-height: 24px
}

.txt2 {
    top: 268px;
    left: 430px
}

.txt3 {
    top: 261px;
    left: 665px
}

.txt4 {
    top: 336px;
    left: 430px
}

.txt5 {
    top: 336px;
    left: 665px
}

.txt6 {
    top: 403px;
    left: 430px
}

.txt7 {
    top: 396px;
    left: 665px
}

.txt8 {
    left: 450px
}

.txt8,
.txt9 {
    top: 575px;
    font-size: 14px
}

.txt9 {
    left: 605px
}

.txt10 {
    left: 750px
}

.txt10,
.txt11 {
    top: 575px;
    font-size: 14px
}

.txt11 {
    left: 905px
}

.txt12 {
    top: 618px;
    left: 450px;
    font-size: 14px
}

.txt13 {
    left: 605px
}

.txt13,
.txt14 {
    top: 618px;
    font-size: 14px
}

.txt14 {
    left: 750px
}

.ct-takeout {
    padding-top: 40px
}

.ct-takeout .txt1 {
    top: 19px
}

.ct-takeout .txt2,
.ct-takeout .txt3 {
    top: 250px
}

.ct-takeout .txt4,
.ct-takeout .txt5 {
    top: 316px
}

.ct-takeout .txt6 {
    top: 391px
}

.ct-takeout .txt7 {
    top: 383px
}

.ct-takeout .txt8,
.ct-takeout .txt9,
.ct-takeout .txt10,
.ct-takeout .txt11 {
    top: 562px
}

.ct-takeout .txt12,
.ct-takeout .txt13 {
    top: 605px
}

.ct-hotels {
    padding: 40px 0;
    background-color: #f9f9f9
}

.ct-hotels .txt1 {
    top: 25px
}

.ct-hotels .txt2,
.ct-hotels .txt3 {
    top: 255px
}

.ct-hotels .txt4 {
    top: 321px
}

.ct-hotels .txt5 {
    top: 330px
}

.ct-hotels .txt6 {
    top: 389px
}

.ct-hotels .txt7 {
    top: 396px
}

.ct-hotels .txt8,
.ct-hotels .txt9,
.ct-hotels .txt10,
.ct-hotels .txt11 {
    top: 568px
}

.ct-hotels .txt12,
.ct-hotels .txt13,
.ct-hotels .txt14 {
    top: 611px
}

.ct-city {
    padding: 40px 0
}

.ct-city .title-img {
    display: block;
    margin-bottom: 20px
}

.ct-city .city-slider {
    border: 1px solid #d8dadb;
    border-right: 0;
    overflow: hidden;
    margin: 0 auto 0 35px;
    width: 924px;
    height: 250px
}

.ct-city ul {
    width: 9999px
}

.ct-city li {
    float: left;
    width: 230px;
    height: 250px;
    text-align: center;
    border-right: 1px solid #d8dadb;
    font-size: 18px;
    color: #383838;
    position: relative
}

.case-name p {
    padding-bottom: 20px
}

.case-name img {
    width: 145px;
    height: 145px
}

.case-info img {
    width: 36px;
    height: 36px
}

.case-info {
    display: none;
    position: absolute;
    top: 100%;
    left: -10px;
    width: 100%;
    height: 100%;
    background-color: #27a9f2;
    padding-left: 20px
}

.case-info p {
    text-align: left;
    padding: 15px 15px 10px 0;
    font-size: 12px;
    color: #fff;
    line-height: 18px
}

.case-info ul,
.case-info li {
    float: left;
    border: 0
}

.case-info li {
    width: 47px;
    height: auto;
    font-size: 12px;
    color: #fff
}

.ct-pre {
    left: 0
}

.ct-pre,
.ct-next {
    display: block;
    width: 29px;
    height: 85px;
    background: url(../../../img/restaurant/pre.png);
    position: absolute;
    top: 45%
}

.ct-next {
    background: url(../../../img/restaurant/next.png);
    left: 965px
}

.ct-pre:hover {
    background: url(../../../img/restaurant/pre_now.png)
}

.ct-next:hover {
    background: url(../../../img/restaurant/next_now.png)
}

.subsidiary {
    padding: 60px 0;
    display: inline-block
}

.subsidiary.bg {
    background-color: #f9f9f9
}

.subsidiary .info {
    width: 800px;
    margin-left: 40px;
    float: right
}

.subsidiary img {
    width: 355px;
    height: 250px
}

.subsidiary h3 {
    padding: 0 0 25px;
    margin: 0 0 25px;
    font-size: 20px;
    color: #383838;
    font-weight: 400;
    border-bottom: 1px solid #ccc
}

.subsidiary small {
    float: right;
    margin-right: 10px;
    font-size: 14px;
    color: #0aa1fa
}

.subsidiary small span {
    font-size: 24px;
    color: #0aa1fa
}

.subsidiary .row {
    display: inline-block;
    padding-bottom: 5px
}

.subsidiary .name {
    color: #999;
    width: 70px;
    text-align: right
}

.subsidiary .name,
.subsidiary .dec {
    display: block;
    float: left;
    font-size: 14px
}

.subsidiary .dec {
    color: #383838;
    width: 700px
}

.subsidiary .row a {
    display: block;
    text-align: right;
    font-size: 14px;
    color: #0aa1fa;
    text-decoration: none
}

.abs_btn_a {
    position: absolute;
    width: 178px;
    height: 46px;
    top: 268px;
    left: 511px;
    background: url(#)
}

.login {
    padding: 20px 0
}

.login-box {
    border: 1px solid #e7e7e7;
    float: right;
    padding: 60px 50px;
    width: 298px;
    margin-top: 60px
}

.login-bg {
    width: 500px
}

.login-logo {
    margin-bottom: 30px
}

.login-head img {
    width: 60px
}

.login-head span {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: #383838;
    vertical-align: bottom
}

.username {
    height: 40px;
    border: 0;
    background-color: #ebebeb
}

.username,
.password {
    padding-left: 15%;
    width: 85%;
    margin-top: 20px;
    background: #ebebeb url('../../../img/login_icon1.png') 10px 50% no-repeat
}

.password {
    background: #ebebeb url('../../../img/login_icon2.png') 10px 50% no-repeat;
    background-color: #ebebea
}

.password,
.captcha {
    height: 40px;
    border: 0;
    margin-bottom: 20px;
    background-color: #ebebeb
}

.captcha {
    padding-left: 4%;
    width: 58%
}

.captcha-img {
    cursor: pointer;
    width: 30%;
    margin-left: 5%;
    height: 40px
}

.btn-login {
    width: 100%;
    background: #27a9f2;
    color: #fff;
    text-align: center;
    line-height: 50px;
    height: 50px;
    font-size: 20px;
    border: 0;
    margin-top: 5px;
    margin-bottom: 5px
}

#remember {
    width: 18px;
    height: 18px;
    background: #fff;
    margin-right: 8px
}

.login label {
    margin-left: 8px;
    vertical-align: top;
    color: #383838
}

.forget {
    text-decoration: none;
    color: #383838
}

.login #rememberPwdIcon {
    width: 17px;
    height: 21px
}

.reg {
    float: right;
    color: #383838
}

.reg a {
    text-decoration: none;
    color: #27a9f2
}

.login2 .btn-login {
    margin-top: 0;
    margin-bottom: 10px
}

.login2 .login-bg {
    margin-top: 100px;
    width: 550px
}

.reg-top {
    background: url('../../../img/reg_bg.jpg') center no-repeat;
    background-color: #8dbbca;
    height: 370px
}

.reg-form {
    padding: 40px 0
}

.reg-form h1 {
    font-size: 24px;
    color: #383838;
    font-weight: 200;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px
}

.reg-form small {
    color: #999;
    font-size: 14px;
    display: inline-block;
    float: right;
    line-height: 40px
}

.form-row span {
    display: inline-block;
    width: 100px;
    margin-right: 15px;
    text-align: right;
    font-size: 18px;
    color: #383838;
    margin-bottom: 35px
}

.form-row img {
    vertical-align: super;
    margin-right: 8px
}

.form-ipt {
    width: 450px;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #dcdcdc;
    border-radius: 5px
}

.ipt-short {
    width: 280px;
    margin-right: 20px
}

.sent-code {
    display: inline-block;
    height: 42px;
    background-color: #f87e22;
    text-align: center;
    font-size: 16px;
    color: #fff;
    text-decoration: none
}

.sent-code,
.form-sel {
    width: 150px;
    line-height: 40px;
    border-radius: 5px
}

.form-sel {
    padding-left: 10px;
    height: 40px;
    border: 1px solid #dcdcdc;
    margin-right: 3px
}

.form-sub {
    width: 280px;
    height: 45px;
    font-size: 20px;
    color: #fff;
    background-color: #27a9f2;
    border-radius: 5px;
    border: 0;
    margin-left: 115px;
    margin-top: 20px
}

.form-sub,
.success-box {
    text-align: center
}

.success-box h2 {
    font-size: 30px;
    color: #383838;
    font-weight: 400
}

.success-box h3 {
    font-size: 18px;
    color: #383838;
    font-weight: 400
}

.success-box h3 a {
    font-size: 18px;
    color: #10a5f9;
    text-decoration: none
}

.proxy .g-pt150 {
    padding-top: 150px
}

.proxy .des {
    letter-spacing: 8px
}

.proxy .ui-btn {
    display: inline-block;
    width: 180px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    border: 1px solid #2589ff;
    background-color: #2589ff;
    border-radius: 2px;
    font-size: 18px;
    box-sizing: border-box;
    transition: background-color .1s linear, border .1s linear
}

.proxy .ui-btn:hover {
    background-color: #4fa0ff;
    border: 1px solid #4fa0ff
}

.proxy .proxy-login {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .2s linear, border .2s linear
}

.proxy .proxy-login:hover {
    border: 1px solid #fff;
    color: #2589ff;
    background-color: #fff
}

.banner-wrap {
    position: relative
}

.banner-pagenation {
    position: absolute;
    width: 100%;
    bottom: 60px;
    font-size: 0;
    text-align: center
}

.banner-pagenation li {
    display: inline-block;
    width: 14px;
    height: 6px;
    background-color: #fff;
    margin-left: 16px;
    opacity: .2;
    filter: alpha(opacity=20);
    cursor: pointer
}

.banner-pagenation li.active {
    opacity: 1;
    filter: alpha(opacity=100)
}

.banner-pagenation li:first-child {
    margin-left: 0
}

.proxy-search .search-wrap {
    position: absolute;
    top: 460px;
    padding: 0 0 0 16px;
    background: #475d85;
    z-index: 1;
    width: 1200px;
    box-sizing: border-box;
    height: 70px
}

.proxy-search .search-input {
    width: 1080px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    color: #595961;
    font-size: 16px;
    padding-left: 12px;
    outline: none;
    box-sizing: border-box;
    margin: 15px 0;
    vertical-align: top;
    border: 0
}

.proxy-search .search-input::-webkit-input-placeholder {
    color: #bbb
}

.proxy-search .search-btn {
    padding: 20px 15px 25px 0;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    vertical-align: bottom
}

.search-popup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f000000", endColorstr="#7f000000");
    z-index: 999;
    display: none
}

.search-popup.popup2 {
    z-index: 9999;
    position: fixed
}

.search-book,
.search-notice {
    display: none
}

.search-popup .company {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 43%;
    font-size: 24px
}

.popup2 .company {
    top: 48%;
    color: #141e3c;
    letter-spacing: 5px;
    font-size: 25px
}

@media screen and (min-width:600px) and (max-width:1300px) {
    .search-popup .company {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 42%;
        font-size: 18px
    }

    .popup2 .company {
        top: 47%;
        color: #141e3c;
        letter-spacing: 5px;
        font-size: 25px
    }
}

.search-popup .area {
    position: absolute;
    top: 50%;
    color: #2a3d6b;
    padding: 0 60px;
    line-height: 26px
}

.search-popup .area2 {
    letter-spacing: 5px;
    font-size: 18px;
    width: 630px;
    top: 55%;
    color: #141e3c
}

.search-popup .search-notice {
    width: 370px;
    margin: 20% auto;
    padding: 20px 20px 1px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    z-index: 2;
    box-sizing: border-box
}

.search-popup .search-notice .close-btn {
    border: 1px solid #e3e2e5
}

.search-popup .close-btn {
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    font-size: 18px;
    z-index: 2;
    margin: 20px auto;
    color: #595961
}

.search-popup .close-btn:hover {
    background: #f1f1f1
}

.proxy-plan-nav {
    font-size: 0;
    margin-top: 38px
}

.proxy-plan-nav li {
    cursor: pointer;
    margin-left: 45px;
    display: inline-block
}

.proxy-plan-nav li:first-child {
    margin-left: 0
}

.proxy-plan-nav li img {
    width: 57px;
    margin-bottom: 10px
}

.proxy-plan-nav li.active p {
    color: #2589ff
}

.proxy-plan-cont {
    padding-top: 30px;
    padding-right: 30px;
    box-sizing: border-box
}

.proxy-plan-cont li {
    display: none;
    overflow: hidden
}

.proxy-plan-cont li.active {
    display: block
}

.proxy-plan-cont .proxy-plan-des {
    display: table;
    width: 100%
}

.proxy-plan-cont .proxy-plan-des p {
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    width: 500px;
    font-size: 18px;
    color: #595961;
    letter-spacing: 0;
    line-height: 34px
}

.star-nav-wrap {
    margin-bottom: 60px;
    width: 10000px;
    overflow: hidden
}

.star-nav-wrap .proxy-star-nav {
    display: table-cell;
    font-size: 0;
    float: left
}

.g-oh {
    overflow: hidden
}

.proxy-star-nav {
    font-size: 0
}

.proxy-star-nav li {
    display: inline-block;
    width: 230px;
    height: 135px;
    margin-left: 10px;
    cursor: pointer
}

.proxy-star-nav li:hover {
    -moz-box-shadow: 2px 2px 19px #1f1f1f;
    -webkit-box-shadow: 2px 2px 19px #1f1f1f;
    box-shadow: 2px 2px 19px #1f1f1f
}

.proxy-star-cont {
    width: 1200px;
    margin-top: 60px
}

.proxy-star-cont>div {
    display: none
}

.proxy-star-cont>div.active {
    display: block
}

.proxy-star-tt {
    line-height: 28px
}

.proxy-star-list {
    font-size: 0;
    margin-top: 60px
}

.proxy-star-list li {
    margin-left: 30px;
    display: inline-block
}

.proxy-star-list li:first-child {
    margin-left: 0
}

.proxy-introduce {
    padding: 60px 0;
    background: #233048 url('../../../img/nweb/proxy/introduce/bg1.png?20191218') center center no-repeat;
    background-size: cover;
    /* min-height: 720px; */
    color: #fff
}

.proxy-introduce-cont p {
    text-indent: 2em;
    line-height: 28px;
    font-size: 16px
}

.proxy-introduce-list {
    font-size: 0;
    margin-top: 70px
}

.proxy-introduce-list li {
    position: relative;
    display: inline-block;
    width: 166px;
    height: 120px;
    margin-left: 6px;
    cursor: pointer;
    overflow: hidden
}

.proxy-introduce-list li:first-child {
    margin-left: 0
}

.proxy-introduce-list li img {
    width: 100%
}

.proxy-introduce-list li:hover .mask_box {
    top: 0
}

.proxy-introduce-list .mask_box {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../img/nweb/proxy/introduce/mask_bg.png') center center no-repeat;
    background-size: cover;
    color: #fff;
    box-sizing: border-box;
    transition: top .3s;
    padding: 40px 30px 0
}

.proxy-introduce-list li:first-child .mask_box {
    padding: 30px 30px 0
}

.proxy-introduce-list .mask_box p {
    line-height: 20px
}

.proxy-introduce-more {
    width: 160px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 60px auto 0;
    background: #2589ff;
    box-shadow: 0 8px 14px 0 rgba(37, 137, 255, 0);
    border-radius: 2px;
    font-size: 18px;
    cursor: pointer
}

.proxy-introduce-more .proxy-qrcode {
    width: 160px;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all .15s linear
}

.proxy-introduce-more:hover .proxy-qrcode {
    opacity: 1;
    filter: alpha(opacity=100)
}

.proxy-news {
    padding: 60px 0
}

.proxy-news-list {
    font-size: 0
}

.proxy-news-list li {
    width: 336px;
    display: inline-block;
    padding: 25px;
    background: #FFF;
    border: 1px solid #d7e0e9;
    font-size: 16px;
    margin-left: 15px;
    min-height: 255px;
    vertical-align: top;
    transition: box-shadow .2s linear
}

.proxy-news-list li:first-child {
    margin-left: 0
}

.proxy-news-list li:hover {
    box-shadow: 0 8px 20px 0 rgba(7, 29, 63, .1)
}

.proxy-news-list li img {
    width: 336px;
    height: 187px
}

.proxy-news-list p {
    color: #595961
}

.proxy-news-more {
    display: block;
    width: 140px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 40px auto 0;
    font-size: 18px;
    color: #2589ff;
    border: 1px solid #2589ff;
    border-radius: 2px;
    cursor: pointer;
    transition: all .2s linear
}

.proxy-news-more:hover {
    color: #fff;
    border-color: #2589ff;
    background-color: #2589ff
}

.proxy-header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(15, 12, 70, .1);
    padding: 15px 0 19px
}

.proxy-header .title {
    border-left: 1px solid #595961;
    padding-left: 10px;
    margin-left: 6px;
    vertical-align: bottom
}

.proxy-reg-form {
    height: auto;
    margin: 40px auto 60px
}

.proxy-reg-form .form-group {
    max-width: 650px;
    margin: 0 auto 10px
}

.proxy-reg-form .form-group .input-item {
    display: inline-block;
    max-width: 540px;
    vertical-align: top
}

.proxy-reg-form .form-group label {
    vertical-align: top;
    display: inline-block;
    width: 80px;
    text-align: right;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    box-sizing: border-box
}

.proxy-reg-form .input-item input {
    width: 540px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e3e2e5;
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 10px;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

.proxy-reg-form .input-item textarea {
    outline: none
}

.proxy-reg-form .input-item textarea:focus,
.proxy-reg-form .input-item input:focus {
    border: 1px solid #10a5f9
}

.proxy-reg-form .input-item select {
    width: 170px;
    padding: 10px 2px 12px;
    background: 0 0;
    border: 0;
    outline: 1px solid #e3e2e5;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px
}

.proxy-reg-form .input-item p {
    text-align: left;
    padding-left: 93px
}

.proxy-reg-form .input-item .info {
    width: 522px;
    height: 220px;
    border: 1px solid #e3e2e5;
    padding: 10px 8px;
    color: #bbb;
    line-height: 20px
}

.proxy-reg-form .input-item .info::-webkit-input-placeholder {
    color: #bbb
}

.proxy-reg-form .ui-btn {
    display: inline-block;
    width: 108px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #2589ff;
    font-size: 14px;
    border: 0;
    border-radius: 0
}

.proxy-reg-form .ui-code {
    top: 0;
    right: 16px
}

.proxy-reg-form .ui-code.disabled,
.proxy-reg-form .ui-btn.disabled {
    background-color: #ccc
}

.proxy-reg-form span.error {
    display: block;
    color: #ff2f45
}

.proxy-reg-form .g-ml98 {
    margin-left: 98px
}

.proxy-reg-form .form-group label.from-labelnew {
    margin-right: 0
}

.proxy-reg-form .form-group label.from-mr20 {
    margin-right: 20px
}

.form-dian {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 5px;
    margin: 0 5px
}

.proxy-reg-form .ui-code.from-uicode {
    right: 8px
}

.proxy-news-item {
    padding: 30px 0 33px;
    border-bottom: 1px solid #e3e2e5
}

.proxy-news-item .proxy-news-cont {
    width: 585px
}

.proxy-news-item .title {
    color: #595961;
    font-weight: 700
}

.proxy-news-item .date {
    color: #9797a1;
    margin: 5px 0 20px
}

.proxy-news-item .des {
    color: #595961;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    line-height: 30px
}

.proxy-news-page {
    padding: 25px 0 60px
}

.proxy-news-page a {
    display: inline-block;
    font-size: 16px;
    color: #595961;
    height: 30px;
    line-height: 30px;
    padding: 0 9.6px;
    border: 1px solid #e3e2e5;
    box-sizing: border-box;
    margin-left: 5px
}

.proxy-news-page a.active {
    background-color: #10a5f9;
    color: #fff;
    border-color: #10a5f9
}

.proxy-news-page .page-item:first-child {
    margin-left: 0
}

.m-ban {
    display: none
}

.m-ban:nth-child(1) {
    display: block
}

.m-ban.active {
    display: block
}

.banner_proxy {
    background: url('../../../img/nweb/proxy/bg/banner.png?20180117') center bottom no-repeat;
    background: url('../../../img/nweb/proxy/bg/banner.png?20180117') center bottom no-repeat, linear-gradient(to bottom, #060411, #00244e);
    background-color: #011a3d
}

.banner_xcx {
    background: #051228 url('../../../img/nweb/proxy/bg/banner_xcx.png');
    background: url('../../../img/nweb/proxy/bg/banner_xcx.png') center center no-repeat, radial-gradient(50% 0, circle, #00244e 0, #060411 100%, #060411 100%, #00244e 100%);
    background: url('../../../img/nweb/proxy/bg/banner_xcx.png') center center no-repeat, -webkit-radial-gradient(50% 0, circle, #00244e 0, #060411 100%, #060411 100%, #00244e 100%);
    background: url('../../../img/nweb/proxy/bg/banner_xcx.png') center center no-repeat, -ms-radial-gradient(50% 0, circle, #00244e 0, #060411 100%, #060411 100%, #00244e 100%);
    background: url('../../../img/nweb/proxy/bg/banner_xcx.png') center center no-repeat, -o-radial-gradient(50% 0, circle, #00244e 0, #060411 100%, #060411 100%, #00244e 100%)
}

.proxy-plan {
    padding-top: 96px;
    min-height: 604px;
    background: #fff url('../../../img/nweb/proxy/bg/bg_plan.png?20171222') center center no-repeat;
    background-size: cover
}

.proxy-star {
    padding-top: 75px;
    min-height: 841px;
    background: #fff url('../../../img/nweb/proxy/bg/bg_star.jpg?20171222') center center no-repeat;
    background-size: cover;
    overflow: hidden
}

.search-popup .bg-box,
.search-popup .bg-formal,
.search-popup .bg-informal {
    position: relative;
    background: #fff url('../../../img/nweb/proxy/book/book.jpg?20171222') center center no-repeat;
    height: 700px;
    width: 485px;
    margin: 150px auto 0
}

.popup2 .bg-box {
    background: #fff url('../../../img/nweb/proxy/book/book_new.jpg') center center no-repeat;
    height: 500px;
    width: 750px
}

.popup2 .bg-formal {
    background: #fff url('../../../img/nweb/proxy/book/book_newF.png') center center no-repeat;
    height: 500px;
    width: 750px
}

.popup2 .bg-informal {
    background: #fff url('../../../img/nweb/proxy/book/book_newI.png') center center no-repeat;
    height: 500px;
    width: 750px
}

.proxy-star .prev_btn {
    position: absolute;
    width: 50px;
    height: 100px;
    background: url('../../../img/nweb/proxy/button/left.png?20171222') center center no-repeat;
    left: -38px;
    top: 105px;
    font-size: 30px;
    cursor: pointer
}

.proxy-star .prev_btn:hover {
    background: url('../../../img/nweb/proxy/button/left_h.png?20171222') center center no-repeat
}

.proxy-star .next_btn {
    position: absolute;
    width: 50px;
    height: 100px;
    background: url('../../../img/nweb/proxy/button/right.png?20171222') center center no-repeat;
    right: -48px;
    top: 105px;
    font-size: 30px;
    cursor: pointer
}

.proxy-star .next_btn:hover {
    background: url('../../../img/nweb/proxy/button/right_h.png?20171222') center center no-repeat
}

.proxy-star-nav .nav-item1 {
    background: url('../../../img/nweb/proxy/star/icons/item_1.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item1:hover,
.proxy-star-nav .nav-item1.active {
    background: url('../../../img/nweb/proxy/star/icons/item_1_h.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item2 {
    background: url('../../../img/nweb/proxy/star/icons/item_2.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item2:hover,
.proxy-star-nav .nav-item2.active {
    background: url('../../../img/nweb/proxy/star/icons/item_2_h.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item3 {
    background: url('../../../img/nweb/proxy/star/icons/item_3.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item3:hover,
.proxy-star-nav .nav-item3.active {
    background: url('../../../img/nweb/proxy/star/icons/item_3_h.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item4 {
    background: url('../../../img/nweb/proxy/star/icons/item_4.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item4:hover,
.proxy-star-nav .nav-item4.active {
    background: url('../../../img/nweb/proxy/star/icons/item_4_h.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item5 {
    background: url('../../../img/nweb/proxy/star/icons/item_5.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item5:hover,
.proxy-star-nav .nav-item5.active {
    background: url('../../../img/nweb/proxy/star/icons/item_5_h.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item6 {
    background: url('../../../img/nweb/proxy/star/icons/item_6.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item6:hover,
.proxy-star-nav .nav-item6.active {
    background: url('../../../img/nweb/proxy/star/icons/item_6_h.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item7 {
    background: url('../../../img/nweb/proxy/star/icons/item_7.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item7:hover,
.proxy-star-nav .nav-item7.active {
    background: url('../../../img/nweb/proxy/star/icons/item_7_h.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item8 {
    background: url('../../../img/nweb/proxy/star/icons/item_8.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item8:hover,
.proxy-star-nav .nav-item8.active {
    background: url('../../../img/nweb/proxy/star/icons/item_8_h.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item9 {
    background: url('../../../img/nweb/proxy/star/icons/item_9.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item9:hover,
.proxy-star-nav .nav-item9.active {
    background: url('../../../img/nweb/proxy/star/icons/item_9_h.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item10 {
    background: url('../../../img/nweb/proxy/star/icons/item_10.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item10:hover,
.proxy-star-nav .nav-item10.active {
    background: url('../../../img/nweb/proxy/star/icons/item_10_h.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item-dl {
    background: url('../../../img/nweb/proxy/star/icons/item_dl.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item-dl:hover,
.proxy-star-nav .nav-item-dl.active {
    background: url('../../../img/nweb/proxy/star/icons/item_dl_h.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item-tj {
    background: url('../../../img/nweb/proxy/star/icons/item_tj.png?20171222') 0 0 no-repeat
}

.proxy-star-nav .nav-item-tj:hover,
.proxy-star-nav .nav-item-tj.active {
    background: url('../../../img/nweb/proxy/star/icons/item_tj_h.png?20171222') 0 0 no-repeat
}

.globe {
    position: relative;
    height: 550px;
    overflow: hidden;
    padding: 0;
    pointer-events: all
}

.banner_sales {
    background: #011a3d url('../../../img/nweb/sales/banner.png') center bottom no-repeat
}

.sales-h1 {
    position: absolute;
    z-index: 30;
    left: 0;
    right: 0
}

.g-mt180 {
    margin-top: 180px
}

.sales-bg {
    background-color: #f1f1f5;
    overflow: hidden
}

.sales-f1 {
    position: relative;
    height: 760px;
    width: 100%
}

.sales-f1-d {
    width: 960px;
    height: 570px;
    margin-left: -480px
}

.sales-f1-d,
.sales-f1-c {
    position: absolute;
    left: 50%;
    bottom: 0
}

.sales-f1-c {
    width: 1174px;
    height: 900px;
    margin-left: -512px
}

.sales-dot {
    height: 100%;
    top: 0;
    left: 0
}

.sales-dot,
.sales-f1-mk {
    position: absolute;
    width: 100%
}

.sales-f1-mk {
    height: 760px;
    background: url(../../../img/nweb/sales/f1_c2.png?20191218) center center no-repeat;
    z-index: 26
}

.sales-f1-t {
    z-index: 27
}

.sales-f1-d {
    z-index: 28
}

.sales-f1-cn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 160px;
    left: 0;
    background: url(../../../img/nweb/sales/f1_c1.png?20191218) center center no-repeat;
    z-index: 22
}

.sales-f1-i {
    position: absolute;
    width: 24px;
    height: 31px;
    margin-left: -12px;
    margin-top: -30px;
    background: url(../../../img/nweb/sales/f1_d.png) center center no-repeat;
    cursor: pointer
}

.sales-f1-i.active {
    width: 24px;
    height: 31px;
    z-index: 9;
    background-image: url(../../../img/nweb/sales/f1_d_h.png);
    animation: sales .5s ease-out;
    -moz-animation: sales .5s ease-out;
    -webkit-animation: sales .5s ease-out;
    -o-animation: sales .5s ease-out
}

@keyframes sales {
    0% {
        opacity: 1
    }

    20% {
        opacity: .4
    }

    40% {
        opacity: 1
    }

    50% {
        transform: translate(0, -20px);
        -ms-transform: translate(0, -20px);
        -webkit-transform: translate(0, -20px);
        -o-transform: translate(0, -20px);
        -moz-transform: translate(0, -20px)
    }

    100% {
        transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -moz-transform: translate(0, 0)
    }
}

@-moz-keyframes sales {
    0% {
        opacity: 1
    }

    20% {
        opacity: .4
    }

    40% {
        opacity: 1
    }

    50% {
        transform: translate(0, -20px);
        -ms-transform: translate(0, -20px);
        -webkit-transform: translate(0, -20px);
        -o-transform: translate(0, -20px);
        -moz-transform: translate(0, -20px)
    }

    100% {
        transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -moz-transform: translate(0, 0)
    }
}

@-webkit-keyframes sales {
    0% {
        opacity: 1
    }

    20% {
        opacity: .4
    }

    40% {
        opacity: 1
    }

    50% {
        transform: translate(0, -20px);
        -ms-transform: translate(0, -20px);
        -webkit-transform: translate(0, -20px);
        -o-transform: translate(0, -20px);
        -moz-transform: translate(0, -20px)
    }

    100% {
        transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -moz-transform: translate(0, 0)
    }
}

@-o-keyframes sales {
    0% {
        opacity: 1
    }

    20% {
        opacity: .4
    }

    40% {
        opacity: 1
    }

    50% {
        transform: translate(0, -20px);
        -ms-transform: translate(0, -20px);
        -webkit-transform: translate(0, -20px);
        -o-transform: translate(0, -20px);
        -moz-transform: translate(0, -20px)
    }

    100% {
        transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -moz-transform: translate(0, 0)
    }
}

.sales-f1-i.bj {
    left: 580px;
    top: 204px
}

.sales-f1-i.sh {
    left: 647px;
    top: 296px
}

.sales-f1-i.sh1 {
    left: 637px;
    top: 296px
}

.sales-f1-i.hz {
    left: 620px;
    top: 326px
}

.sales-f1-i.nj {
    left: 605px;
    top: 270px
}

.sales-f1-i.suz {
    left: 615px;
    top: 288px
}

.sales-f1-i.gz {
    left: 555px;
    top: 390px
}

.sales-f1-i.sz {
    left: 575px;
    top: 390px
}

.sales-f1-i.sc {
    left: 485px;
    top: 310px
}

.sales-f1-i.cs {
    left: 550px;
    top: 342px
}

.sales-f1-t {
    height: 100%;
    background: url(../../../img/nweb/sales/f1_t.png) center center no-repeat
}

.sales-f1-t,
.sales-cy {
    position: absolute;
    width: 100%
}

.sales-cy {
    z-index: 30;
    bottom: 0;
    height: 140px;
    padding-top: 60px;
    background-color: rgba(37, 41, 55, .6);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99252937, endcolorstr=#99252937);
    color: #fff
}

.sales-f1-in {
    background: url(../../../img/nweb/sales/f1_in.png) center center no-repeat
}

.sales-cy-l,
.sales-cy-r {
    margin-top: 20px;
    cursor: pointer
}

.sales-cy-in {
    margin-top: 14px;
    margin-left: 50px
}

.sales-cy-c {
    width: 1000px;
    height: 100px;
    overflow: hidden
}

.sales-cy-t1 {
    vertical-align: top;
    white-space: nowrap;
    padding-right: 20px;
    border-right: 1px solid rgba(255, 255, 255, .1);
    height: 100%
}

.sales-cy-t1,
.sales-cy-t2 {
    display: table-cell;
    line-height: 1.5;
    padding-left: 20px
}

.sales-cy-t2 {
    vertical-align: middle
}

.sales-cy-ul {
    width: 300%;
    height: 100%
}

.sales-cy-ul>li {
    float: left;
    width: 1000px;
    height: 100%
}

.js-cn-move,
.an-transit {
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (-moz-min-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device·-pixel-ratio:2) {
    .banner_proxy {
        background: url('../../../img/nweb/proxy/bg/banner.png?20180117') center bottom no-repeat;
        background: url('../../../img/nweb/proxy/bg/banner@2x.png?20180117') center bottom no-repeat, linear-gradient(to bottom, #060411, #00244e);
        background-size: auto 100%;
        background-color: #011a3d
    }

    .banner_xcx {
        background: #051228 url('../../../img/nweb/proxy/bg/banner_xcx@2x.png');
        background: url('../../../img/nweb/proxy/bg/banner_xcx@2x.png') center center no-repeat, radial-gradient(50% 0, circle, #00244e 0, #060411 100%, #060411 100%, #00244e 100%);
        background: url('../../../img/nweb/proxy/bg/banner_xcx@2x.png') center center no-repeat, -webkit-radial-gradient(50% 0, circle, #00244e 0, #060411 100%, #060411 100%, #00244e 100%);
        background: url('../../../img/nweb/proxy/bg/banner_xcx@2x.png') center center no-repeat, -ms-radial-gradient(50% 0, circle, #00244e 0, #060411 100%, #060411 100%, #00244e 100%);
        background: url('../../../img/nweb/proxy/bg/banner_xcx@2x.png') center center no-repeat, -o-radial-gradient(50% 0, circle, #00244e 0, #060411 100%, #060411 100%, #00244e 100%);
        background-size: auto 100%
    }

    .proxy-plan {
        background: #fff url('../../../img/nweb/proxy/bg/bg_plan@2x.png') center center no-repeat;
        background-size: cover
    }

    .search-popup .bg-box {
        background: #fff url('../../../img/nweb/proxy/book/book@2x.jpg') center center no-repeat;
        background-size: auto 100%
    }

    .popup2 .bg-box {
        background: #fff url('../../../img/nweb/proxy/book/book_new@2x.jpg') center center no-repeat;
        background-size: auto 100%
    }

    .popup2 .bg-formal {
        background: #fff url('../../../img/nweb/proxy/book/book_newF@2x.png') center center no-repeat;
        background-size: auto 100%
    }

    .popup2 .bg-informal {
        background: #fff url('../../../img/nweb/proxy/book/book_newI@2x.png') center center no-repeat;
        background-size: auto 100%
    }

    .proxy-star .prev_btn {
        background: url(../../../img/nweb/proxy/button/left@2x.png) center center no-repeat;
        background-size: auto 100%
    }

    .proxy-star .prev_btn:hover {
        background: url(../../../img/nweb/proxy/button/left_h@2x.png) center center no-repeat;
        background-size: auto 100%
    }

    .proxy-star .next_btn {
        background: url(../../../img/nweb/proxy/button/right@2x.png) center center no-repeat;
        background-size: auto 100%
    }

    .proxy-star .next_btn:hover {
        background: url(../../../img/nweb/proxy/button/right_h@2x.png) center center no-repeat;
        background-size: auto 100%
    }

    .proxy-introduce {
        background: #233048 url('../../../img/nweb/proxy/introduce/bg1@2x.png?20191218') center center no-repeat;
        background-size: auto 100%
    }

    .banner_sales {
        background: #011a3d url('../../../img/nweb/sales/banner@2x.png') center bottom no-repeat;
        background-size: auto 100%
    }

    .sales-f1-mk {
        background: url(../../../img/nweb/sales/f1_c2@2x.png?20191218) center center no-repeat;
        background-size: auto 100%
    }

    .sales-f1-cn {
        background: url(../../../img/nweb/sales/f1_c1@2x.png?20191218) center center no-repeat;
        background-size: auto 100%
    }

    .sales-f1-i {
        background: url(../../../img/nweb/sales/f1_d@2x.png) center center no-repeat;
        background-size: auto 100%
    }

    .sales-f1-i.active {
        background-image: url(../../../img/nweb/sales/f1_d_h@2x.png);
        background-size: auto 100%
    }

    .sales-f1-t {
        background: url(../../../img/nweb/sales/f1_t@2x.png) center center no-repeat;
        background-size: auto 100%
    }

    .sales-f1-in {
        background: url(../../../img/nweb/sales/f1_in@2x.png) center center no-repeat;
        background-size: auto 100%
    }
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    direction: ltr;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    height: 680px
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    -webkit-transition-property: -webkit-transform, left, top;
    -webkit-transition-duration: 0s;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition-timing-function: ease;
    -moz-transition-property: -moz-transform, left, top;
    -moz-transition-duration: 0s;
    -moz-transform: translate3d(0, 0, 0);
    -moz-transition-timing-function: ease;
    -o-transition-property: -o-transform, left, top;
    -o-transition-duration: 0s;
    -o-transform: translate3d(0, 0, 0);
    -o-transition-timing-function: ease;
    -o-transform: translate(0, 0);
    -ms-transition-property: -ms-transform, left, top;
    -ms-transition-duration: 0s;
    -ms-transform: translate3d(0, 0, 0);
    -ms-transition-timing-function: ease;
    transition-property: transform, left, top;
    transition-duration: 0s;
    transform: translate3d(0, 0, 0);
    transition-timing-function: ease
}

.swiper-wrapper,
.swiper-slide {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-slide {
    float: left
}

.proxy-search .wrProxy-search-bg {
    background: #555562;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, .26)
}

.banner_wrProxy {
    height: 500px;
    color: #fff;
    background: #024885 url('../../../img/nweb/img/wr/proxy/ban_bg.png') center center no-repeat
}

.wrProxy-f3-wrap {
    height: 640px;
    background-color: #f1f1f5
}

.wrProxy-f3-m-wrap {
    height: 100%;
    background: #fff url("../../../img/nweb/img/wr/proxy/f3-bg.png") no-repeat center
}

.wrProxy-f3-t {
    font-size: 30px;
    color: #595961;
    letter-spacing: 0;
    text-align: center;
    line-height: 30px;
    margin-top: 80px
}

.wrProxy-f3-items-1 {
    position: absolute;
    top: 336px;
    left: 84px;
    text-align: center
}

.wrProxy-f3-items-1>li>div,
.wrProxy-f3-items-2>li>div,
.wrProxy-f3-items-3>li>div,
.wrProxy-f3-items-4>li>div {
    font-size: 18px;
    color: #595961;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    font-weight: 700
}

.wrProxy-f3-items-1>li>p,
.wrProxy-f3-items-2>li>p,
.wrProxy-f3-items-3>li>p,
.wrProxy-f3-items-4>li>p {
    font-size: 14px;
    color: #9797a1;
    letter-spacing: 0;
    line-height: 24px
}

.wrProxy-f3-items-2 {
    position: absolute;
    top: 496px;
    left: 374px;
    text-align: center
}

.wrProxy-f3-items-3 {
    position: absolute;
    top: 380px;
    left: 660px;
    text-align: center
}

.wrProxy-f3-items-4 {
    position: absolute;
    top: 355px;
    left: 980px;
    text-align: center
}

.wrProxy-f4-wrap {
    height: 726px;
    background: #f1f1f5 url("../../../img/nweb/img/xst/proxy/proxy-6-bg.png") no-repeat center
}

.wrProxy-f4-t {
    font-weight: 700;
    font-size: 30px;
    margin-top: 80px
}

.wrProxy-f4-t,
.wrProxy-f4-c {
    color: #595961;
    letter-spacing: 0;
    text-align: center;
    line-height: 30px
}

.wrProxy-f4-c {
    margin-top: 20px;
    font-size: 18px
}

.wrProxy-f4-items1 {
    top: 218px;
    right: 905px;
    text-align: right
}

.wrProxy-f4-items2 {
    top: 218px;
    left: 892px;
    text-align: left
}

.wrProxy-f4-items3 {
    top: 535px;
    right: 905px;
    text-align: right
}

.wrProxy-f4-items4 {
    top: 535px;
    left: 892px;
    text-align: left
}

.wrProxy-f4-items-t {
    font-weight: 700;
    font-size: 24px;
    color: #595961;
    letter-spacing: 0;
    margin-bottom: 10px
}

.wrProxy-f4-items1 .wrProxy-f4-items-c>p,
.wrProxy-f4-items3 .wrProxy-f4-items-c>p {
    text-align: right
}

.wrProxy-f4-items-c>p {
    font-size: 14px;
    color: #9797a1;
    letter-spacing: 0;
    text-align: left;
    line-height: 24px
}

.wrProxy-f5-wrap {
    height: 280px;
    overflow: hidden;
    text-align: center;
    background: #024885 url("../../../img/nweb/img/wr/proxy/f5_bg.png") no-repeat center;
    background-size: 100% auto
}

.wrProxy-f5-t {
    overflow: hidden;
    margin-top: 60px
}

.wrProxy-f5-t>i {
    margin-right: 10px;
    width: 26px;
    height: 28px;
    background: url("../../../img/nweb/img/wr/proxy/phone.png") no-repeat center;
    background-size: 100% auto
}

.wrProxy-f5-t>span {
    margin-left: 10px;
    font-size: 30px;
    color: #FFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 30px;
    vertical-align: super
}

.wrProxy-f5-line {
    margin: 30px auto;
    width: 500px;
    height: 1px;
    background-color: #fff
}

.wrProxy-f5-phone {
    overflow: hidden;
    font-size: 30px;
    color: #fff;
    letter-spacing: 0;
    text-align: center;
    line-height: 40px
}

.wrProxy-f5-phone>a {
    color: #fff;
    vertical-align: middle
}

.wrProxy-f5-person {
    font-size: 18px;
    color: #fff;
    letter-spacing: 0;
    text-align: center;
    line-height: 40px
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (-moz-min-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device·-pixel-ratio:2) {
    banner_wrProxy {
        background-image: url('../../../img/nweb/img/wr/proxy/ban_bg@2x.png');
        background-size: 100% auto
    }

    .wrProxy-f3-m-wrap {
        background-image: url("../../../img/nweb/img/wr/proxy/f3-bg@2x.png");
        background-size: auto 100%
    }

    .wrProxy-f4-wrap {
        background-image: url("../../../img/nweb/img/xst/proxy/proxy-6-bg@2x.png");
        background-size: auto 100%
    }

    .wrProxy-f5-wrap {
        background-image: url("../../../img/nweb/img/wr/proxy/f5_bg@2x.png");
        background-size: cover
    }
}

.search-popup.s1 {
    position: fixed
}

.search1-box {
    position: absolute;
    left: 0;
    right: 0;
    width: 1020px;
    margin: auto;
    background: #FFF;
    border-radius: 10px;
    padding-top: 30px;
    top: 40%
}

.search1-tb {
    width: 960px;
    margin: 30px auto
}

.search1-tb-t {
    color: #475d85;
    line-height: 24px
}

.search1-tb-th {
    height: 20px;
    padding: 20px
}

.search1-tb-th:hover {
    background: #f2f2f6
}

.search1-tb-th.bg {
    background-image: url('../../../img/nweb/proxy/tb_th.png');
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden
}

.search1-tb-th:first-child {
    margin-bottom: 10px
}

.search1-pl {
    position: relative
}

.search1-pl:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 12px;
    top: 50%;
    left: -10px;
    margin-top: -6px;
    background-color: #021431
}

.search1-tb-i1,
.search1-tb-i2,
.search1-tb-i3,
.search1-tb-i4 {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px
}

.search1-tb-i1 {
    width: 48%;
    box-sizing: border-box
}

.search1-tb-i2,
.search1-tb-i3 {
    width: 20%;
    text-align: center
}

.search1-tb-i4 {
    width: 10%;
    text-align: right;
    cursor: pointer
}